<h1>Angular Guide Examples</h1>
<p>Select a concept to explore:</p>
<ul>
  <li><a routerLink="/concepts/pipes">Pipes</a></li>
  <li><a routerLink="/concepts/forms">Forms</a></li>
  <li><a routerLink="/concepts/services">Services</a></li>
  <li><a routerLink="/concepts/signals">Signals</a></li>
  <li><a routerLink="/concepts/routing">Routing</a></li>
  <li><a routerLink="/concepts/observables">Observables</a></li>
  <li><a routerLink="/concepts/ngrx">NgRx</a></li>
  <li><a routerLink="/concepts/animations">Animations</a></li>
  <li><a routerLink="/concepts/httpclient">HTTP Client</a></li>
  <li><a routerLink="/concepts/dynamicc">Dynamic Components</a></li>
  <li><a routerLink="/concepts/lifecycle">Component Lifecycle</a></li>
</ul>